<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Exo react</title>
    <link rel="stylesheet" href="main.css">
</head>
    <body>

    <div id="root"></div>
    <script src="libs.js"></script>
    <script src="app.js"></script>
</body>
</html>
